#Q1:Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.
Ans: 
select left(FIRST_NAME,3) as First_Name from Worker

#Q2:Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.
Ans:
Select locate('a',FIRST_NAME) from Worker where FIRST_NAME='Amitabh'

#Q3:Write an SQL query to print the name of employees having the highest salary in each
department.
Ans:
select Emp_Name from Table_Name where Emp_ID in (Select EMP_ID from Table_Name where EMP_Salary having max(EMP_Salary))